:root {
  --main-blue: #2c3e50;
  --main-green: #1abc9c;
}

* {
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}
button * {
  color: white;
  transition: all 0.15s ease-in-out;
}
button:hover * {
  color: var(--main-blue);
}
.btn-primary {
  background-color: var(--main-green);
  border: none;
}
.btn-primary:hover {
  background-color: #18a78a;
}
.nav-link {
  color: white;
}
.line {
  background-color: var(--main-blue);
  height: 4px;
}
.line--white {
  background-color: white;
}
.fa-star {
  color: var(--main-blue);
  font-size: 32px;
}

/* ----------- HEADER -----------  */
header {
  background-color: var(--main-blue);
}
.header__logo-wrapper * {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}
.header__menu-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
/* ----------- / HEADER -----------  */
/* ----------- JUMBOTRON -----------  */
.jumbotron {
  background-color: var(--main-green);
  text-align: center;
}
.jumbotron * {
  color: white;
}
.jumbotron__image {
  width: 60%;
  max-width: 350px;
}
.jumbotron__title {
  font-size: 2rem;
}
.jumbotron__subtitle {
  font-size: 0.9rem;
  /* font-weight: 600; */
}
/* ----------- / JUMBOTRON -----------  */
/* ------------ PORTFOLIO ------------- */
.portfolio {
  text-align: center;
}
.portfolio * {
  color: var(--main-blue);
}
.portfolio__card {
  overflow: hidden;
}
/* ------------ / PORTFOLIO ------------- */
/* ------------ ABOUT ------------- */
.about {
  background-color: var(--main-green);
}
.about * {
  text-align: center;
  color: white;
}
/* ------------ / ABOUT ------------- */
/* ------------ CONTACT ------------- */
.contact-me * {
  color: var(--main-blue);
}
/* ------------ / CONTACT ------------- */
/* ------------ FOOTER ------------- */
footer {
  background-color: var(--main-blue);
}
footer * {
  color: white;
}
.mt-round {
  color: white;
  font-size: 1.1rem;
  border: 1px solid white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0 0.25rem;
}
.sub-footer {
  background-color: #1e2c3a;
}
/* ------------ / FOOTER ------------- */
/* --------------- Media Queries --------------- */

/* medium */
@media only screen and (min-width: 768px) {
  .jumbotron__subtitle {
    font-size: 1.4rem;
  }
}
/* --------------- / Media Queries --------------- */
